
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInicial.cshtml";
}
<div class="text-center bg-danger">
    <h1>Bem-vindo(a) ao sistema da Clínica Estética!</h1>
    <div class="btn btn-default btn-lg">
        @Html.ActionLink("Fazer login", "Login")
    </div>
    <br />
    <br />
</div>

